
<div style="display: flex">
  <mat-form-field>
    <mat-label>Выберите опцию</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="option1" >По Критерию</mat-option>
      <mat-option value="option2" >По Году</mat-option>
    </mat-select>
  </mat-form-field>
  <div style="padding-left: 3rem; display: flex;">
    <div>
      <mat-form-field>
        <mat-label>Выберите регион</mat-label>
        <mat-select [(value)]="region">
          <mat-option *ngFor="let reg of allRegion" value="{{reg}}" >{{reg}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selected === 'option1'">
      <mat-form-field style="padding-left: 2rem">
        <mat-label>Выберите критерий</mat-label>
        <mat-select [(value)]="criterion">
          <mat-option *ngFor="let variable of variables" value="{{variable}}" >{{variable}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="selected === 'option2'">
      <mat-form-field style="padding-left: 2rem">
        <mat-label>Выберите год</mat-label>
        <mat-select [(value)]="year">
          <mat-option *ngFor="let y of years" value="{{y}}" >{{y}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" style="margin-bottom: 20px; margin-left: 40px" (click)="setChart()">Применить</button>
</div>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="updateFlag"
  style="width: 100%; display: block; margin-bottom: 20px"
>
</highcharts-chart>
