.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.a-home{
  padding: 20px;
}

.icon-home{
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  -webkit-mask: url('../assets/icons/home-svgrepo-com.svg') no-repeat center;
}

.header {
  display: flex;
  background-color: #1976d2;
  height: 80px;
  align-content: center;
}

.header_content {
  display: flex;
  align-content: center;
  align-items: stretch;
}

.content {
  padding-top: 18px;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem;
  color: antiquewhite;
  float: left;
  width: auto;
  border: none;
  display: block;
  text-decoration: none;
}

.active {
  background-color: #71b1f0;
}

.main {
  padding: 30px;
  flex: 1 1 auto;
  background-color: #e0e5ef;
}

.footer {
  display: flex;
  background-color: #c9cad6;
  padding: 30px;
  text-align: center;
}


.container {
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  place-content: center;
  margin-top: 30px;
}

.highcharts-container {
  position: relative;
  overflow: hidden;
  width: 650px;
  height: 400px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  touch-action: manipulation;
  outline: none;
  font-family: Dosis, sans-serif;
}
