<div class="wrapper">
  <header class="header">
    <div class="header_content">
      <a class="a-home{{on_active()}}" href="#" [routerLink]="''"><div class="icon-home"></div></a>
      <a class="content" href="#" [routerLink]="'country'" [routerLinkActive]="'active'">country</a>
      <a class="content" href="#" [routerLink]="'regions'" [routerLinkActive]="'active'">region</a>
      <a class="content" href="#" [routerLink]="'subregions'" [routerLinkActive]="'active'">subregion</a>
      <a class="content" href="#" [routerLink]="'int-org'" [routerLinkActive]="'active'">organization</a>
    </div>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <div style="flex: 1 1 auto"><a href="https://www.bp.com/en/global/corporate/energy-economics/statistical-review-of-world-energy/downloads.html">Statistical Review of World Energy</a></div>
    <div style="flex: 1 1 auto"> This site created by Victor Zimin</div>
  </footer>
</div>
