<p>main works!</p>
<div class="container" >
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="pieChartOptions"
    style="width: 100%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="histChartOptions"
    style="width: 50%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="roundChartOptions"
    style="width: 100%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="lineChartOptions"
    style="width: 100%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
</div>
