<p class="main-text">Это главная страница.</p>
<p class="main-text">В шапке остальные ссылки на страницы которые работают с api.</p>
<p class="main-text">На этой странице приведены примеры графиков.</p>
<div class="container" >
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="pieChartOptions"
    style="width: 100%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="histChartOptions"
    style="width: 50%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="roundChartOptions"
    style="width: 100%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="lineChartOptions"
    style="width: 100%; display: block; margin-bottom: 20px"
  >
  </highcharts-chart>
</div>
